@charset "utf-8";

/*
-webkit- : ﻿사파리 또는 크롬
-moz- : 파이어폭스
-ms- : 익스플로어
-o- : 오페라
*/

/* common */
h1,h2,h3,h4,h5,h6,strong{font-weight:600}

input[type="password"] {height:32px; border:1px solid #ccc; color:#555}

input[type=checkbox],
input[type=radio] { padding: 0; border: none; cursor: pointer;}
button, input { overflow: visible; }

input[type=radio] + label:after,
input[type=checkbox] + label:after,
input[type=radio] + label:before,
input[type=checkbox] + label:before{display:inline-block; content:'';}

input[type="text"]{ font-weight: 100; font-family: 'Noto Sans KR', '맑음고딕', Malgun Gothic, dotum, gulim, sans-serif; }
input[type="button"]{}
input[type="file"]{}

.ico_check{}
.ico_check:before{display:inline-block; padding-right:5px; vertical-align:middle; content:'*' !important; color:red;}
.ico_check:after{display:inline-block; padding-left:5px; vertical-align:middle; content:'*' !important; color:red;}

h4.ico_check{}
h4.ico_check:before{
    font-weight: 600;
}
h4.ico_check:after{display:none !important;}

h5.ico_check{}
h5.ico_check:before{display:none !important;}
h5.ico_check:after{}

/**/
.radio,
.checkbox {
	position: relative;
	margin: 0 0 5px;
	padding: 0 0 0 26px;
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 0;
	line-height: 1;
	vertical-align: middle;
}
.radio + .radio,
.checkbox + .checkbox { margin-left: 10px; }

.checkbox input[type='checkbox'],
.radio input[type='radio'] {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	border: 0;
	&:focus + label:before { box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1); }
}
.checkbox input[type='checkbox'] + label,
.radio input[type='radio'] + label {
	display: block;
	float: left;
	position: relative;
	padding: 0;
	font-size: 15px;
	line-height: 1.34;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	font-weight: normal;
	color: #555;
	/* text-align: center; */
	min-width: 65px;
}
.radio input[type='radio'] + label._width100{min-width: 110px;}
.checkbox input[type='checkbox'] + label:before,
.radio input[type='radio'] + label:before {
	content: '';
	display: block;
	float: left;
	overflow: hidden;
	width: 20px;
	height: 20px;
	margin-top: 0;
	margin-right: 6px;
	margin-left: -26px;
	border: 1px solid #e2e1e1;
	border-radius: 2px;
	background: #fff;
	line-height: 18px;
	text-align: center;
	transition: all 0.2s;
}
.radio input[type='radio'] + label:before {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	line-height: 20px;
}
.checkbox input[type='checkbox'] + label:active:before,
.checkbox input[type='checkbox']:checked + label:active:before,
.radio input[type='radio'] + label:active:before,
.radio input[type='radio']:checked + label:active:before {
	background: #fff;
}
.checkbox input[type='checkbox']:checked + label:before,
.radio input[type='radio']:checked + label:before {
	background: #fff;
	border-color: #333;
}
.checkbox input[type='checkbox']:checked + label:before {
	/* content: 'ㅁ'; */
	background: #333;
	color: #fff;
	font-size: 16px;
	/* font-family: 'iconset'; */
	content: '' !important;
	font-family: 'xeicon';
}
.radio input[type='radio'] + label:after {
	opacity: 0;
	content: '';
	position: absolute;
	top: 5px;
	left: -21px;
	width: 10px;
	height: 10px;
	margin: 0;
	border-radius: 100%;
	background: #333;
	transform: scale(0);
	transition: all 0.2s;

}

.radio input[type='radio']:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
.button.is-light {
	border-color: #eee;
}
.radio:after,
.checkbox:after{display:block; clear:both; content:'';}

.inputbox{padding: 10px 0px 0;border-top: 0px solid #dad8d8;box-sizing: border-box;margin: 0;}
.inputbox._inradio{/* padding:15px 0; */}
.inputbox .field{display:inline-block; vertical-align: middle;margin-right:30px}
.inputbox .field:last-child{margin-right:0px;}
.inputbox .field + input[type="text"]{display:inline-block;width: calc(100% - 154px);}

/* button */
button	{display:inline-block;color:#555;background:transparent;text-align:center;vertical-align:middle;cursor:pointer;overflow:visible;white-space:nowrap;padding: 5px;border: 1px solid #c5c5c5;border-radius: 3px;transition: border .5s, background .5s, color .5s;position: relative;}
button:hover {border-color: #000;color: #000;}

button::-moz-focus-inner{padding:0}

input[type='submit']:disabled,
input[type='button']:disabled,
button[type="button"]:disabled,
.btn.disabled {color:#333; cursor:auto;}

.btn {display:inline-block;min-width:128px;height:38px;margin:0 3px; *margin:0 5px;padding:0 15px;/* border:1px solid #333; */border-radius:3px;background-color:#fff;color:#333;text-align:center;line-height:38px;vertical-align:middle;cursor:pointer;transition:border .5s, background .5s, color .5s;box-sizing: border-box;}
.btn_plus,
.btn_minus {display:inline-block;/* min-width:128px; *//* height:38px; */margin:0 3px; *margin:0 5px;padding: 0 5px;border: 1px solid #c5c5c5;border-radius:3px;background-color:#fff;color:#333;text-align:center;line-height: 26px;vertical-align:middle;cursor:pointer;/* transition:border .5s, background .5s, color .5s; */box-sizing: border-box;}

button.btn {min-width:160px; height:40px; *line-height:36px;}
button.btn>i{margin-right:5px}
.btn span {display:inline; display:block; *zoom:1;}

.btn:hover{border-color:#000; color:#000; text-decoration:none;}

.btn.btn_sm,
button.btn.btn_sm {min-width:38px;/* height:28px; */padding:0 15px;border:1px solid #ddd;color:#555;line-height: 38px;font-size: 15px;height: 42px;}
button.btn.btn_sm {/* height:30px; */line-height:27px;}
button#btn_bsearch > .btn_bsearch_layer{display: none;position: absolute;top: 0;left: 185px;background: #fbdc00;font-size: 0.8rem;padding: 7px 9px 7px;border-radius: 3px;color: #614a43;line-height:18px;letter-spacing:-0.5px;}
button#btn_bsearch > .btn_bsearch_layer>span{color:#b3360e; font-weight:500}
button#btn_bsearch > .btn_bsearch_layer:before{
  display:block;
  content:'';
  position:absolute;
  left: -10px;
  top: 17px;
  width: 0px;
  height: 0px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #fbdc00;
  border-left: 5px solid  transparent;

  }

button#btn_bsearch:hover > .btn_bsearch_layer{display:block}

button.btn.btn_sm[disabled]{background:#efefef;color:#888;} /* 쿠폰 고도화 추가 */

.btn.btn_sm:hover {border-color:#000; color:#000;}

.btn.btn_sm .arr {padding-right: 0;padding-left:0;}
.btn.btn_sm span.arr:after { display: inline-block;    content: '';font-family: 'xeicon'; margin-left:10px; vertical-align:middle; margin-top:-3px}

.p-dropdown .p-button,
.p-input,
.p-upload__file{display:inline-block;width:100%;margin:2px 0;background-color:#fff;border:1px solid #c5c9d6;border-radius:4px;vertical-align:middle;appearance:none;-webkit-appearance:none;-moz-appearance:textfield;box-sizing:border-box;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;height:42px;padding:0 8px 2px;line-height:inherit}

.p-dropdown .p-button::placeholder,
.p-input::placeholder,.p-upload__file::placeholder{color:#757575;font-size:.9em}

.p-dropdown .p-button:not([readonly]):focus,
.p-input:not([readonly]):focus,
.p-upload__file:not([readonly]):focus{outline:0;border-color:#888;box-shadow:0 0 6px rgba(0,0,0,.2)}

.p-dropdown .p-button[type=number]::-webkit-inner-spin-button,
.p-dropdown .p-button[type=number]::-webkit-outer-spin-button,
.p-input[type=number]::-webkit-inner-spin-button,
.p-input[type=number]::-webkit-outer-spin-button,
.p-upload__file[type=number]::-webkit-inner-spin-button,
.p-upload__file[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}

.disabled.p-upload__file,
.p-dropdown .disabled.p-button,
.p-dropdown .p-button[disabled],
.p-dropdown .p-button[readonly],
.p-dropdown .readonly.p-button,
.p-input.disabled,
.p-input.readonly,
.p-input[disabled],
.p-input[readonly],
.p-upload__file[disabled],
.p-upload__file[readonly],
.readonly.p-upload__file{cursor:not-allowed;background:#f4f5f9;border-color:#c5c9d6;opacity:1}

.p-dropdown .p-button .disabled,
.p-dropdown .p-button[disabled],
.p-input .disabled,
.p-input[disabled],
.p-upload__file .disabled,
.p-upload__file[disabled]{color:#959595}

.p-input--readonly{cursor:not-allowed;background:#f0f0f0;border-color:#d7d7d7;opacity:1}
.p-input--auto{display:inline-block;width:auto}
.p-input--ghost{border:none;box-shadow:none}
.p-input__addon,
.p-input__split{display:table-cell;width:1%}
.p-input__addon .p-input__item,
.p-input__split .p-input__item{display:inline-block;height:30px;padding:0 12px 2px;background-color:#f0f0f0;border:1px solid #cdcdcd;border-radius:0;line-height:29px;text-align:center;font-weight:400;vertical-align:middle;text-decoration:none;white-space:nowrap;box-sizing:border-box}
.p-input__addon .p-input__item--before,.p-input__split .p-input__item--before{border-right:none}
.p-input__addon .p-button,
.p-input__split .p-button{border-left:none;padding-left:10px;padding-right:10px}
.p-input__addon>.p-input__item{border-right-color:transparent;border-left-color:#cdcdcd}
.p-dropdown .p-button+.p-input__addon>.p-input__item,
.p-dropdown .p-button+.p-input__split>.p-input__item,
.p-input+.p-input__addon>.p-input__item,
.p-input+.p-input__split>.p-input__item,
.p-upload__file+.p-input__addon>.p-input__item,.p-upload__file+.p-input__split>.p-input__item{border-right-color:#cdcdcd;border-left-color:transparent}

.p-dropdown .p-button,
select.p-input,
select.p-upload__file{padding:0 47px 2px 12px;-webkit-padding-end:47px;-moz-padding-end:47px;font-family:inherit;line-height:27px;background:url('/resources/images/etc/select_sprite.png') no-repeat right top #fff;-webkit-appearance:none;-moz-appearance:none;cursor:pointer;min-width:100px}

.p-dropdown .p-button::-ms-expand,
select.p-input::-ms-expand,
select.p-upload__file::-ms-expand{opacity:0}
.p-dropdown .p-button:focus,
select.p-input:focus,
select.s_multiple:focus,
select.p-upload__file:focus{outline:0;border-color:#888;box-shadow:0 0 6px rgba(0,0,0,.2)}

.p-dropdown .p-button:after,
select.p-input:after,
select.s_multiple:after,
select.p-upload__file:after{position:absolute;width:27px;height:27px}

.p-dropdown .p-button[multiple],
.p-dropdown .p-button[size],
select.p-upload__file[multiple],
select.p-upload__file[size],
select[multiple].p-input,
select[multiple].s_multiple,
select[size].p-input{height:auto;background:0 0;padding-top:4px;padding-bottom:4px}

.p-dropdown span.p-button,
span.p-input,span.p-upload__file{padding-top:3px}

.p-dropdown textarea.p-button,
textarea.p-input,
textarea.p-upload__file{height:200px;padding:6px 12px;line-height:24px;word-wrap:break-word;word-break:break-all}

.p-dropdown textarea.p-button:focus,
textarea.p-input:focus,
textarea.p-upload__file:focus{outline:0;border-color:#888;box-shadow:0 0 6px rgba(0,0,0,.2)}







.btn.btn_em {background-color:#333; color:#fff;}
.btn.btn_em:hover,
.btn.btn_em:focus {background-color:#000;}
.btn.btn_em.disabled {color:#fff;}
.btn.btn_em.disabled:hover,
.btn.btn_em.disabled:focus {border-color:#333; background-color:#333;}

.btn.btn_org {border-color:#ee6900; background-color:#ee6900; color:#fff;}



tr.input .btn_sm {height:32px;line-height:32px;}
tr.input button.btn_sm {height:34px;}
tr.input .btn.btn_sm .arr {background-position:right 12px; line-height:2.3;}

.btn.btn_search {/* min-width:48px; *//* height:32px; *//* background-color:#333; *//* color:#fff; *//* line-height:32px; */}
button.btn.btn_search {/* min-width:78px; *//* height:34px; *//* line-height:30px; */}
.btn.btn_search:hover,
.btn.btn_search:focus {background-color:#000;}
.btn.btn_search.disabled {color:#fff;}
.btn.btn_search.disabled:hover,
.btn.btn_search.disabled:focus {border-color:#333; background-color:#333;}

.btn_big {height:43px; line-height:43px;}
.btn_embig {height:43px; background-color:#333; color:#fff; line-height:43px;}
button.btn_big,
button.btn_embig {height:45px; line-height:45px;}
.btn_embig:hover,
.btn_embig:focus {background-color:#000; color:#fff}
.btn.transparent,
.btn.transparent:focus,
.btn.transparent:hover{background-color:transparent;}

.btn_big .arr {display:inline-block; padding-right:8px; padding-left:0; background:url('/resources/images/etc/ico_btn_arrow.png') no-repeat right center;}
.ie7 .btn_big .arr {display:inline; zoom:1;}
.btn_big .arr.back {padding-right:0; padding-left:8px; background:url('/resources/images/etc/ico_btn_arrow_back.png') no-repeat left center;}

button.btn_more {width:310px; height:50px; border:1px solid #ddd; background-color:#f8f8f8;}
